.welcomeSection {
    background: var(--primary);
}

.homeBody h1 {
    font-size: 8em;
}

.videoHomePage {
    z-index: -1;
    position: absolute;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

.videoBox {
    z-index: -1;
    position: fixed;
}

.midTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.midTitle > h1 {
    font-family: 'Chicle', cursive;
    color: var(--secondary);
}

.welcomeLanguage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
    background : var(--opacity-primary);
}

.welcomeLanguage > p {
    color: var(--black);
    font-size: 4em;
}

.welcomeLanguage > h1 {
    color: var(--secondary);
}


@media (max-width: 1300px) {
    .welcomeLanguage > p {
        font-size: 1em;
    }

    .homeBody h1 {
        font-size: 3em;
    }
}