body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  border: none; margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

:root {
  --primary : #ffcccc;
  --secondary : #714288;
  --title : #9873b9;
  --text : #9873b9;
  --black : #301934;
  --white : #e6e6e6;
  --secondary-opacity : rgba(113, 66, 136, 0.5);
  --opacity-primary : rgba(255, 204, 204, 0.5);
}