.articlePart {
    display: flex;
    width: 100%;
    height: 100vh;
}

.articlePart img {
    object-fit: cover;
    width: 100%;
    /* position: center; */
    /* max-height: 100vh; */
    height: 100vh;
}

.divImage {
    flex: 1;
}

.divText {
    flex: 1;
    /* background-color: var(--secondary); */
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.left {
    background: var(--secondary);
}

.right {
    background-color: var(--title);
}

.divText > h2 {
    font-size: 4em;
    padding: 2em 2em 0 2em;
    color: var(--primary);
}

.divText > p {
    font-size: 1.5em;
    padding: 0 2em 2em 2em;
    color: var(--white);
    /* font-weight: bold; */
}

@media (max-width: 1300px) {
    .divText > p {
        font-size : 1em;
    }

    .divText > h2 {
        font-size: 2em;
    }

    .divImage {
        display: none;
    }
}
