.navbar {
    background: inherit;
    background-color: transparent;
    font-size: 2em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 100;


}

.navbarContent {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0.5em;
}

.navName {
    margin-right: 1em;
    color: var(--white);
}

.logoNav {
    font-size: 2em;
    padding: 0.2em;
    text-shadow: 1px 1px 1px var(--primary);
    font-family: 'Chicle', cursive;
    color: var(--secondary)
}

.homeStyle {
    color: var(--primary);
    text-shadow: 1px 1px 1px var(--black);
}

.signBox {
    display: block;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 0.5em;
    background-color: var(--opacity-primary);
}

.navbar .hamburger {
    display: none;
}

@media (max-width: 1300px) {
    .logoNav {
        font-size: 1em;
        /* margin: auto; */
    }

    .navbarContent {
        font-size: 0.5em;
    }
}