.navbar {
    background: inherit;
    font-size : 2em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0; right: 0; left : 0;
}

.navbarContent {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0.5em;
}

.navbarContent > p {
    padding : 0.3em;
    color: var(--white);
}

.logoNav {
    font-size: 2em;
    padding: 0.5em;
    font-family: 'Chicle', cursive;
    color : var(--secondary)
}

.homeStyle {
    color : var(--secondary);
    text-shadow: 1px 1px 1px var(--black);
}

.signBox {
    display: block;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: var(--secondary-opacity);
}